:root {
  --foreground: black;
  --background: white;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: none;
  text-transform: uppercase;
  color: var(--foreground);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: black;
    --shadow: rgba(255, 255, 255, 0.2);
  }
}